# ignore .git and .cache folders
.git
.cache
.vscode
imgdfn
model*
saved_model*



# ignore all *.crt files in all folders, including build root
**/*.crt

# ignore all __pycache__ folders
**/__pycache__